@layout JobSeekerLayout
@page "/resources"

<MudGrid Justify="Justify.Center" Class="mt-8 mb-8">
    <MudItem xs="8">
        <MudGrid Justify="Justify.Center" Class="border">
            <MudItem xs="11">
                <MudText Typo="Typo.h4" Style="font-family: 'Inter';font-weight: 700; color:#08243D;" Class="pb-2">Entertainment Resources</MudText>
                <MudText Typo="Typo.h5" Style="font-family: 'Inter'; color:#08243D;"><b>Helpful Articles and Information To Aid In Your Job Search</b></MudText>
            </MudItem>
            <MudItem xs="11">
                <MudCard Style="background-color:#EEF5F8">
                    <MudCardContent>
                        <MudGrid>
                            <MudItem xs="12">
                                <MudText Typo="Typo.h6" Style="font-family: 'Inter'; color:#08243D;" Class="pb-1 border-bottom"><b>Finding A Job</b></MudText>
                            
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-2"><a href="#" style="font-family: 'Inter'; color:#08243D; text-decoration: underline solid #08243D 1px;">Resume and Cover Letter Tips</a> - While there are a number of great resources on the web to help you write your resume, we summarize what we see working and not working with people getting interviews in our industry.</MudText>
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-2"><a href="#" style="font-family: 'Inter'; color:#08243D; text-decoration: underline solid #08243D 1px;">What makes a resume stand out?</a> - Excerpt of interview with EntertainmentCareers.Net Founder, Brad Hall, on how to build an effective resume and what we see converting to an interview.</MudText>
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-2"><a href="#" style="font-family: 'Inter'; color:#08243D; text-decoration: underline solid #08243D 1px;">What makes a cover letter stand out?</a> - Excerpt of interview with EntertainmentCareers.Net Founder, Brad Hall, on why and when cover letters are necessary and what to put in a cover letter that converts to interviews.</MudText>
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-2"><a href="#" style="font-family: 'Inter'; color:#08243D; text-decoration: underline solid #08243D 1px;">How to keep your resume out of the employer's SPAM folder</a> - Here are the most common mistakes we see that get emails blocked or end up in the dark hole of someone's spam folder.</MudText>
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="11">
                <MudCard Style="background-color:#EEF5F8">
                    <MudCardContent>
                        <MudGrid>
                            <MudItem xs="12">
                                <MudText Typo="Typo.h6" Style="font-family: 'Inter'; color:#08243D;" Class="pb-1 border-bottom"><b>Avoiding Scams / Protecting Yourself</b></MudText>
                            
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-2"><a href="#" style="font-family: 'Inter'; color:#08243D; text-decoration: underline solid #08243D 1px;">List of California Talent Agencies</a> - If a person is acting as a "talent agent" in California, they must obtain a license from the State Labor Commissioner and are subject to state regulation. The regulations include submitting fingerprints and references, having their offices subject to inspection, maintaining a surety bond, trust account and accurate records, and submitting their commission rate and even their form of contract for approval by the Labor Commissioner.</MudText>
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-2"><a href="#" style="font-family: 'Inter'; color:#08243D; text-decoration: underline solid #08243D 1px;">Modeling Scams</a> - Please read this article from the Federal Trade Commission. This will give you some great guidelines to avoid the many modeling, acting and, "Want to get in show biz?" scams out there. EntertainmentCareers.Net strongly recommends this article to anyone starting their acting career or trying to get their children into acting.</MudText>
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-2"><a href="#" style="font-family: 'Inter'; color:#08243D; text-decoration: underline solid #08243D 1px;">Talent Agency Scams</a> - Unfortunately there are many unscrupulous people out there so prepare yourself. Read what the Better Business Bureau has to suggest when choosing a talent agency.</MudText>
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-2"><a href="#" style="font-family: 'Inter'; color:#08243D; text-decoration: underline solid #08243D 1px;">How to Safeguard Your Creative Work From Theft</a> - David Walter of the Writers Guild of America gives some tips for protecting creative work.</MudText>
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="11">
                <MudCard Style="background-color:#EEF5F8">
                    <MudCardContent>
                         <MudGrid>
                             <MudItem xs="12">
                                <MudText Typo="Typo.h6" Style="font-family: 'Inter'; color:#08243D;" Class="pb-1 border-bottom"><b>Performer Resources</b></MudText>
                            
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-2"><a href="#" style="font-family: 'Inter'; color:#08243D; text-decoration: underline solid #08243D 1px;">How Do I Get Into the Screen Actors Guild?</a> - The three primary ways to get into SAG-Aftra</MudText>
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-2"><a href="#" style="font-family: 'Inter'; color:#08243D; text-decoration: underline solid #08243D 1px;">Becoming An Actor</a> - Suggestions from the Screen Actors Guild on how to become and actor and join the guild.</MudText>
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-2"><a href="#" style="font-family: 'Inter'; color:#08243D; text-decoration: underline solid #08243D 1px;">How Do I Get a Job as an Extra</a> - This article explains the fairly simple process of becoming an extra.</MudText>
                            </MudItem>
                         </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="11">
                <MudCard Style="background-color:#EEF5F8">
                    <MudCardContent>
                        <MudGrid>
                            <MudItem xs="12">
                                <MudText Typo="Typo.h6" Style="font-family: 'Inter'; color:#08243D;" Class="pb-1 border-bottom"><b>Industry Research</b></MudText>
                            
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-2"><a href="#" style="font-family: 'Inter'; color:#08243D; text-decoration: underline solid #08243D 1px;">Studio Structure</a> - Want to understand what jobs are available at studios? Read an excerpt from "Get a Reel Job" by Philip Nemy about the structure of a studio and different jobs with their descriptions.</MudText>
                                <MudText Typo="Typo.body2" Style="font-family: 'Inter'; color:#08243D;" Class="pb-2 mt-2"><a href="#" style="font-family: 'Inter'; color:#08243D; text-decoration: underline solid #08243D 1px;">TV/Radio Salaries</a> - The Radio Television Digital News Association (RTDNA) publishes annual salary surveys each year.</MudText>
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>


@code {
}
